# Dependencies (Already managed by composer)
/vendor/

# Environment/DB Configs (Crucial for security)
config.php
db.php.txt

# Debug and Log files
*.log
debug_recoiling.txt
config.php.ori
db.php.example

# OS and IDE files
.vscode/
Thumbs.db